<%= form_for(@cockpit_procedures_training) do |f| %>
  <% if @cockpit_procedures_training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cockpit_procedures_training.errors.count, "error") %> prohibited this cockpit_procedures_training from being saved:</h2>

      <ul>
      <% @cockpit_procedures_training.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_completed %><br>
    <%= f.date_select :date_completed %>
  </div>
  <div class="field">
    <%= f.label :trainee_id %><br>
    <%= f.text_field :trainee_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :training_record_id %><br>
    <%= f.text_field :training_record_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
