<div class="container">
  <div class="row-fluid">
    <div class="col-sm-6 col-sm-offset-3 title">
      <h5>Cockpit Procedures Training</h5>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-6 col-sm-offset-3 main">
      <%= form_for(@cockpit_procedures_training) do |f| %>
        <% if @cockpit_procedures_training.errors.any? %>
          <div class="error">
            <p><%= pluralize(@cockpit_procedures_training.errors.count, "error") %> prohibited this review from being saved:</p>
            <ul>
            <% @cockpit_procedures_training.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      
        <div class="row-fluid">
          <%= f.label :training_record_id, "Select a Training Record" %>
          <%= f.collection_select(:training_record_id, @training_records, :id, :trainee_full_name, { prompt: true }, { class: "form-field" }) %>
        </div>
        <div class="row-fluid">
          <%= f.label :date_select, "Date Completed" %>
          <div class="col-sm-4 no-left-gutter">
            <%=
              select_year(
                @cockpit_procedures_training.date_completed.try(:year),
                {
                  :prompt => "Year",
                  :start_year => Time.zone.now.year - 5,
                  :end_year => Time.zone.now.year + 1,
                  :field_name => :"date_completed(1i)",
                  :prefix => :cockpit_procedures_training
                },
                :class => "form-field"
              )
            %>
            <%#= f.date_select :date_completed, { :class => "form-field-mini" } %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="col-sm-4 no-left-gutter">
            <%=
              select_month(
                @cockpit_procedures_training.date_completed.try(:month),
                {
                  :prompt => "Month",
                  :field_name => :"date_completed(2i)",
                  :prefix => :cockpit_procedures_training
                },
                :class => "form-field "
              )
            %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="col-sm-4 no-left-gutter">
            <%=
              select_day(
                @cockpit_procedures_training.date_completed.try(:year),
                {
                  :prompt => "Day",
                  :field_name => :"date_completed(3i)",
                  :prefix => :cockpit_procedures_training
                },
                :class => "form-field"
              )
            %>
          </div>
        </div>     
        <div class="row-fluid">
          <%= f.submit "Submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
