<p id="notice"><%= notice %></p>

<h1>Listing Cockpit Procedures Trainings</h1>

<table>
  <thead>
    <tr>
      <th>Date completed</th>
      <th>Trainee</th>
      <th>User</th>
      <th>Training record</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cockpit_procedures_trainings.each do |cockpit_procedures_training| %>
      <tr>
        <td><%= cockpit_procedures_training.date_completed %></td>
        <td><%= cockpit_procedures_training.trainee %></td>
        <td><%= cockpit_procedures_training.user %></td>
        <td><%= cockpit_procedures_training.training_record %></td>
        <td><%= link_to 'Show', cockpit_procedures_training %></td>
        <td><%= link_to 'Edit', edit_cockpit_procedures_training_path(cockpit_procedures_training) %></td>
        <td><%= link_to 'Destroy', cockpit_procedures_training, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cockpit procedures training', new_cockpit_procedures_training_path %>
