<div class="container">
  <div class="row-fluid">
    <div class="col-sm-6 col-sm-offset-3 title">
      <h5>New Training Record</h5>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-6 col-sm-offset-3 main">
      <%= form_for(@training_record) do |f| %>
        <% if @training_record.errors.any? %>
          <div class="error">
            <p><%= pluralize(@training_record.errors.count, "error") %> prohibited this review from being saved:</p>
            <ul>
            <% @training_record.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      
        <div class="row-fluid">
          <%= f.label :type_of_training, "Type of Training" %>
          <%= f.text_field :type_of_training, class: "form-field"%>
        </div>
        <div class="row-fluid">
          <%= f.label :trainee_id, "Trainee" %>
          <%= f.collection_select(:trainee_id, @trainees, :id, :trainee_full_name, { prompt: true }, { class: "form-field" }) %>
        </div>        
        <div class="row-fluid">
          <%= f.submit "Create a New Trainee Training Record" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


