<div class="container">
  <div class="row-fluid">
    <div class="col-sm-6 col-sm-offset-3 title">
      <h5>New Training Record</h5>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-6 col-sm-offset-3 main">
      <%= form_for(@training_record) do |f| %>
        <% if @training_record.errors.any? %>
          <div class="error">
            <p><%= pluralize(@training_record.errors.count, "error") %> prohibited this review from being saved:</p>
            <ul>
            <% @training_record.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      
        <div class="row-fluid">
          <%= f.label :training_classification, "Training Classification" %>
          <%= f.select("training_classification", TrainingRecord::TRAINING_CLASSIFICATIONS, { prompt: "Seelct Training Classification" }, { class: "form-field" }) %>
        </div>
        <div class="row-fluid">
          <%= f.label :trainee, "Trainee" %>
          <%= f.collection_select(:trainee_id, @trainees, :id, :trainee_full_name, { prompt: true }, { class: "form-field" }) %>
        </div>
        <div class="row-fluid">
          <%= f.label :training_types, "Training Type" %>
          <%= select_tag nil, options_for_select(TrainingRecord::TRAINING_TYPES), prompt: "Select a Training Type", class: "form-field training_types" %>
        </div>
        <div class="row-fluid cockpit_procedures">
          <%= f.label :date_select, "Cockpit Procedures Completion Date" %>
          <div class="col-sm-4 no-left-gutter">
            <%=
              select_year(
                @training_record.cockpit_procedures_completion_date.try(:year),
                {
                  :prompt => "Year",
                  :start_year => Time.zone.now.year - 5,
                  :end_year => Time.zone.now.year + 1,
                  :field_name => :"cockpit_procedures_completion_date(1i)",
                  :prefix => :training_record
                },
                :class => "form-field"
              )
            %>
            <%#= f.date_select :date_completed, { :class => "form-field-mini" } %>
          </div>
          <div class="col-sm-4 no-left-gutter">
            <%=
              select_month(
               @training_record.cockpit_procedures_completion_date.try(:month),
                {
                  :prompt => "Month",
                  :field_name => :"cockpit_procedures_completion_date(2i)",
                  :prefix => :training_record
                },
                :class => "form-field "
              )
            %>
          </div>
          <div class="col-sm-4 no-left-gutter">
            <%=
              select_day(
                @training_record.cockpit_procedures_completion_date.try(:day),
                {
                  :prompt => "Day",
                  :field_name => :"cockpit_procedures_completion_date(3i)",
                  :prefix => :training_record
                },
                :class => "form-field"
              )
            %>
          </div>
        </div>
        <div class="row-fluid flight_training_simulator">
          <%= f.label :date_select, "Flight Training Simulator Completion Date" %>
          <div class="col-sm-4 no-left-gutter">
            <%=
              select_year(
                @training_record.flight_training_simulator_completion_date.try(:year),
                {
                  :prompt => "Year",
                  :start_year => Time.zone.now.year - 5,
                  :end_year => Time.zone.now.year + 1,
                  :field_name => :"flight_training_simulator_completion_date(1i)",
                  :prefix => :training_record
                },
                :class => "form-field"
              )
            %>
            <%#= f.date_select :date_completed, { :class => "form-field-mini" } %>
          </div>
          <div class="col-sm-4 no-left-gutter">
            <%=
              select_month(
               @training_record.flight_training_simulator_completion_date.try(:month),
                {
                  :prompt => "Month",
                  :field_name => :"flight_training_simulator_completion_date(2i)",
                  :prefix => :training_record
                },
                :class => "form-field "
              )
            %>
          </div>
          <div class="col-sm-4 no-left-gutter">
            <%=
              select_day(
                @training_record.flight_training_simulator_completion_date.try(:day),
                {
                  :prompt => "Day",
                  :field_name => :"flight_training_simulator_completion_date(3i)",
                  :prefix => :training_record
                },
                :class => "form-field"
              )
            %>
          </div>
          <div class="row-fluid">
            <%= f.label :flight_training_simulator_minutes, "Flight Training Simulator Time in Minutes" %>
            <%= f.text_field :flight_training_simulator_minutes, class: "form-field" %>
          </div>
        </div>
        <div class="row-fluid windshear">
          <%= f.label :date_select, "Windshear Completion Date" %>
          <div class="col-sm-4 no-left-gutter">
            <%=
              select_year(
                @training_record.windshear_completion_date.try(:year),
                {
                  :prompt => "Year",
                  :start_year => Time.zone.now.year - 5,
                  :end_year => Time.zone.now.year + 1,
                  :field_name => :"windshear_completion_date(1i)",
                  :prefix => :training_record
                },
                :class => "form-field"
              )
            %>
            <%#= f.date_select :date_completed, { :class => "form-field-mini" } %>
          </div>
          <div class="col-sm-4 no-left-gutter">
            <%=
              select_month(
               @training_record.windshear_completion_date.try(:month),
                {
                  :prompt => "Month",
                  :field_name => :"windshear_completion_date(2i)",
                  :prefix => :training_record
                },
                :class => "form-field "
              )
            %>
          </div>
          <div class="col-sm-4 no-left-gutter">
            <%=
              select_day(
                @training_record.windshear_completion_date.try(:day),
                {
                  :prompt => "Day",
                  :field_name => :"windshear_completion_date(3i)",
                  :prefix => :training_record
                },
                :class => "form-field"
              )
            %>
          </div>
        </div>
        <div class="row-fluid high_minimums">
          <%= f.label :date_select, "High Minimums Completion Date" %>
          <div class="col-sm-4 no-left-gutter">
            <%=
              select_year(
                @training_record.high_minimums_completion_date.try(:year),
                {
                  :prompt => "Year",
                  :start_year => Time.zone.now.year - 5,
                  :end_year => Time.zone.now.year + 1,
                  :field_name => :"high_minimums_completion_date(1i)",
                  :prefix => :training_record
                },
                :class => "form-field"
              )
            %>
            <%#= f.date_select :date_completed, { :class => "form-field-mini" } %>
          </div>
          <div class="col-sm-4 no-left-gutter">
            <%=
              select_month(
               @training_record.high_minimums_completion_date.try(:month),
                {
                  :prompt => "Month",
                  :field_name => :"high_minimums_completion_date(2i)",
                  :prefix => :training_record
                },
                :class => "form-field "
              )
            %>
          </div>
          <div class="col-sm-4 no-left-gutter">
            <%=
              select_day(
                @training_record.high_minimums_completion_date.try(:day),
                {
                  :prompt => "Day",
                  :field_name => :"high_minimums_completion_date(3i)",
                  :prefix => :training_record
                },
                :class => "form-field"
              )
            %>
          </div>
        </div> 
        <div class="row-fluid">
          <%= f.submit "Update Training Record" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


