<div class="container">
  <div class="row-fluid">
    <div class="col-sm-10 col-sm-offset-1 title">
      <h5>Training Records</h5>
      <%= link_to "Create New Training Record", new_training_record_path, class: "pull-right" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="col-sm-10 col-sm-offset-1 main">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Training Classification</th>
            <th>Trainee</th>
            <th>Date Created</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <% @training_records.each do |training_record| %>
            <tr>
              <td><%= training_record.training_classification %></td>
              <td><%= training_record.trainee.present? ? (link_to "#{training_record.trainee.first_name} #{training_record.trainee.last_name}", training_record) : " " %></td>
              <td><%= training_record.trainee.present? ? training_record.created_at.to_date : "" %></td>
              <td><%= training_record.status.present? ? training_record.status.humanize : "" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
