<div class="container">
  <div class="row-fluid">
    <div class="col-sm-6 col-sm-offset-3 title">
      <h5>New Trainee</h5>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-6 col-sm-offset-3 main">
      <%= form_for(@trainee) do |f| %>
        <% if @trainee.errors.any? %>
          <div class="error">
            <p><%= pluralize(@trainee.errors.count, "error") %> prohibited this review from being saved:</p>
            <ul>
            <% @trainee.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class="row-fluid">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "form-field"%>
        </div>
        <div class="row-fluid">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "form-field"%>
        </div>
        <div class="row-fluid">
          <%= f.label :identification, "ID No." %>
          <%= f.text_field :identification, class: "form-field"%>
        </div>
        <div class="row-fluid">
          <%= f.submit "Create a New Trainee" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
