<!DOCTYPE html>
<html lang="en">
<head>
  <title>AWAC Training Records</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= stylesheet_link_tag    'https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid header">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 logo"><%= image_tag("logo-awac.png") %></div>
        <div class="col-sm-9 navigation">
          <ul class="list-unstyled list-inline pull-right">
          <% if current_user %>
            <li>Hello, <%= current_user.first_name %></li>
            <li><%= link_to 'Instructors', :users %></li>
            <li><%= link_to 'Training Records', :training_records %></li>
            <li><%= link_to '<span class="fa fa-sign-out"></span> Logout'.html_safe, :logout, method: :post %></li>
          <% else %>
            <li><%= link_to '<span class="fa fa-rocket"></span> Sign Up'.html_safe, :signup %></li>
            <li><%= link_to '<span class="fa fa-sign-in"></span> Login'.html_safe, :login %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p id="notice"><%= notice %></p>
      </div>
    </div>
  </div>

    <%= yield %>
    
    <div class="container">
      <div class="row-fluid">
        <div class="col-sm-12 footer">
          <ul class="list-unstyled list-inline">
            <li></li>
          </ul>
        </div>
      </div>
    </div>

</body>
</html>
